body {
  background-color: rgba(0, 110, 255, 0.587);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  color: #ffffff;
}

section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.625);
}

div {
  text-align: left;
  padding: 8px;
}
footer {
  text-align: center;
  color: #ffffff;
  font-style: italic;
}

img {
  border-radius: 400px;
  max-height: 360px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


